{% extends "base.html" %}
{% block title %}История города{% endblock %}
{% block content %}
<h1>История города</h1>
<p>Город N был основан в конце XVIII века как торговое поселение. Благодаря выгодному расположению на перекрёстке торговых путей он быстро развивался. В XIX веке здесь был построен железнодорожный вокзал, что дало новый импульс росту. Во время Великой Отечественной войны город был важным промышленным центром. Сегодня это современный мегаполис с богатым культурным наследием.</p>
{% endblock %}