{% extends "base.html" %}
{% block title %}Исторические фотографии{% endblock %}
{% block content %}
<h1>Исторические фотографии</h1>
<p>Здесь могли бы быть фотографии старого города, но в рамках задания представлены описания:</p>
<ul>
    <li>Фото 1: Центральная площадь, 1890 год.</li>
    <li>Фото 2: Первый трамвай на улице Ленина, 1925 год.</li>
    <li>Фото 3: Восстановление города после войны, 1946 год.</li>
</ul>
<p><em>В реальном проекте вы можете добавить изображения в папку <code>static/</code> и указать пути к ним.</em></p>
{% endblock %}